<a href="https://colab.research.google.com/github/aoonging/dataviz2025/blob/main/dictionary_function_loop_condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

In [3]:
dict_a = {'abc':123,'def':456,'ghi':789}

In [5]:
dict_a['def']

456

In [6]:
dict_b ={}

In [8]:
dict_b['a'] = 123
dict_b

{'a': 123}

In [9]:
#dict ถ้า index เซฟซ้ำ จะเซฟทับอันเก่า อันเก่าหาย
dict_b['a'] = 567
dict_b

{'a': 567}

#การ add สมาชิกเข้าไปใน dict

In [12]:
#ครวจมาซ้ำมั้ย ไม่ซ้ำถึงจะเพิ่มให้
if 'b' not in dict_b:
    dict_b['b'] = 123

In [13]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [15]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Boonyarat')

In [16]:
print_myname()

Boonyarat

In [23]:
 b = print_myname

In [24]:
b

In [17]:
def print_name(name):        # ตัวอย่าง function ที่ มีครบทุกส่วน
    st = f'ชื่อ {name}'
    return st

In [18]:
print_name('stat')

'ชื่อ stat'

In [19]:
a = print_name('stat')

In [20]:
a

'ชื่อ stat'

In [25]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [27]:
print_fullname('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [28]:
#สลับตำแหน่งได้ แต่ต่องบอกแบบในโค้ด
print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

** ฟังก์ชั่นไม่จำเป็นต้องมี output

In [29]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [30]:
print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [31]:
print_fullname2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [33]:
out_printname1 = print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [34]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [36]:
out_printname2 = print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [37]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [38]:
def Pi():
    return 3.14159265359

In [39]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [40]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [41]:
#ถ้าไม่ใส่ค่าตรงเกรด มันจะใส่ค่าดีฟอสเปนเอฟให้เลย
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [42]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [43]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [44]:
print_2lines_default('ธันยาการต์','พวงมาลัย') #ใส่อินพุดที่ไม่มีดีฟอลให้ครบ

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [52]:
# prompt: เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้ 12:30:15, Wednesday - 13:41:07, Thursday
# 12:53:15, Monday - 00:59:25, Thursday
# 16:06:09, Sunday - 11:11:11, Tuesday

def cal_day_time_diff_secs(time_input):
    days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

    # แยก input เป็นสองช่วง
    part1, part2 = time_input.strip().split(" - ")

    # แยกเวลาและวันออกจากแต่ละฝั่ง
    time1_str, day1_str = part1.strip().split(", ")
    time2_str, day2_str = part2.strip().split(", ")

    # แปลงเวลาเป็นวินาที
    h1, m1, s1 = map(int, time1_str.split(":"))
    h2, m2, s2 = map(int, time2_str.split(":"))
    time1_sec = h1 * 3600 + m1 * 60 + s1
    time2_sec = h2 * 3600 + m2 * 60 + s2

    # คำนวณลำดับของวัน
    d1 = days.index(day1_str)
    d2 = days.index(day2_str)
    day_diff = (d2 - d1) % 7
    total_sec = day_diff * 86400 + (time2_sec - time1_sec)

    return total_sec

In [53]:
print("ช่วงที่ 1:", cal_day_time_diff_secs("12:30:15, Wednesday - 13:41:07, Thursday"), "วินาที")
print("ช่วงที่ 2:", cal_day_time_diff_secs("12:53:15, Monday - 00:59:25, Thursday"), "วินาที")
print("ช่วงที่ 3:", cal_day_time_diff_secs("16:06:09, Sunday - 11:11:11, Tuesday"), "วินาที")

ช่วงที่ 1: 90652 วินาที
ช่วงที่ 2: 216370 วินาที
ช่วงที่ 3: 155102 วินาที

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

#Quiz6

เขียน function -v' Hw2 มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

In [ ]:
#จารพาเขียน เฉลยQuiz6

In [48]:
# prompt: สร้าง fucntion คำนวน จำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss , day of the week 2 ค่า

def cal_time_day_diff_secs(time_day_input):
    """
    Calculates the time difference in seconds between two time and day inputs.

    Args:
        time_day_input: A string in the format "hh1:mm1:ss1, Day1 - hh2:mm2:ss2, Day2".
                        Day2 can be omitted if it's the same day as Day1.

    Returns:
        The total time difference in seconds.
    """
    days = {
        "Monday": 0, "Tuesday": 1, "Wednesday": 2,
        "Thursday": 3, "Friday": 4, "Saturday": 5, "Sunday": 6
    }

    # Split input into two parts
    parts = time_day_input.strip().split(" - ")

    if len(parts) == 1:
        part1 = part2 = parts[0]  # ถ้ามีแค่ 1 ส่วน ใช้ซ้ำ
    else:
        part1, part2 = parts

    # แยก time1, day1
    time1_str, day1_str = part1.strip().split(", ")

    # แยก time2, day2 (ถ้าไม่มี day ให้ใช้ day1)
    if ", " in part2:
        time2_str, day2_str = part2.strip().split(", ")
    else:
        time2_str = part2.strip()
        day2_str = day1_str

    # แปลงเวลาเป็นวินาที
    h1, m1, s1 = map(int, time1_str.split(":"))
    h2, m2, s2 = map(int, time2_str.split(":"))
    time1_sec = h1 * 3600 + m1 * 60 + s1
    time2_sec = h2 * 3600 + m2 * 60 + s2

    # แปลงวันเป็นตัวเลข
    d1 = days[day1_str.strip()]
    d2 = days[day2_str.strip()]

    day_diff = (d2 - d1) % 7

    total_sec = day_diff * 86400 + (time2_sec - time1_sec)
    return total_sec

cases = [
    ("12:30:15, Wednesday", "13:41:07, Thursday"),
    ("12:53:15, Monday", "00:59:25, Thursday"),
    ("16:06:09, Sunday", "11:11:11, Tuesday"),
    ("08:00:00, Friday", "17:00:00"),
    ("12:30:15", "13:41:07")
]

In [66]:
def Hw2(start: str, end: str = None, default_day="Monday"):
    def time_to_seconds(t): h, m, s = map(int, t.split(":")); return h*3600 + m*60 + s
    def day_to_index(d): return ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'].index(d)

    if ", " in start: time1, day1 = start.split(", ")
    else: time1, day1 = start, default_day

    if end is None: raise ValueError("End time must be provided.")
    if ", " in end: time2, day2 = end.split(", ")
    else: time2, day2 = end, day1

    sec1, sec2 = time_to_seconds(time1), time_to_seconds(time2)
    day_diff = (day_to_index(day2) - day_to_index(day1)) % 7
    return day_diff * 86400 + (sec2 - sec1)

# ตัวอย่างใช้งาน
cases = [
    ("12:30:15, Wednesday", "13:41:07, Thursday"),
    ("12:53:15, Monday", "00:59:25, Thursday"),
    ("16:06:09, Sunday", "11:11:11, Tuesday"),
    ("08:00:00, Friday", "17:00:00"),
    ("12:30:15", "13:41:07")
]

for i, (start, end) in enumerate(cases,1):
    print(f"Case {i}: {start} - {end} = {Hw2(start,end):,} seconds")

Case 1: 12:30:15, Wednesday - 13:41:07, Thursday = 90,652 seconds
Case 2: 12:53:15, Monday - 00:59:25, Thursday = 216,370 seconds
Case 3: 16:06:09, Sunday - 11:11:11, Tuesday = 155,102 seconds
Case 4: 08:00:00, Friday - 17:00:00 = 32,400 seconds
Case 5: 12:30:15 - 13:41:07 = 4,252 seconds

In [45]:
##เขียน function ' Hw2 มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว
def time_to_seconds(timestr):
    h, m, s = map(int, timestr.split(":"))
    return h * 3600 + m * 60 + s

def day_to_index(day):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    return days.index(day)

def calc_seconds(start: str, end: str = None, default_day="Monday"):
    # แยก start
    if ", " in start:
        time1, day1 = start.split(", ")
    else:
        time1 = start
        day1 = default_day  # สมมติวัน default ถ้าไม่มี

    if end is None:
        raise ValueError("End time must be provided.")

    # แยก end
    if ", " in end:
        time2, day2 = end.split(", ")
    else:
        time2 = end
        day2 = day1  # ถ้าไม่มีวันใน end ให้ใช้วันเดียวกับ start

    sec1 = time_to_seconds(time1)
    sec2 = time_to_seconds(time2)

    day1_index = day_to_index(day1)
    day2_index = day_to_index(day2)

    day_diff = (day2_index - day1_index) % 7

    total_seconds = day_diff * 86400 + (sec2 - sec1)
    return total_seconds


# ทดสอบกับกรณีต่าง ๆ
cases = [
    ("12:30:15, Wednesday", "13:41:07, Thursday"),   # ข้ามวัน
    ("12:53:15, Monday", "00:59:25, Thursday"),      # ข้ามหลายวัน
    ("16:06:09, Sunday", "11:11:11, Tuesday"),       # ข้าม 2 วัน
    ("08:00:00, Friday", "17:00:00"),                # วันเดียวกัน ใช้เวลาอย่างเดียว
     ("08:00:00", "17:00:00, Friday"),
    ("08:00:00, Friday", "17:00:00"),                # วันเดียวกัน ใช้เวลาอย่างเดียว
    ("12:30:15", "13:41:07"),                        # ลบวันออกหมด เหลือแค่เวลา (สมมติ Monday)
    ("12:53:15", "00:59:25"),
    ("16:06:09", "11:11:11")
]

for i, (start, end) in enumerate(cases, 1):
    seconds = calc_seconds(start, end)
    print(f"Case {i}: {start} - {end} = {seconds:,} seconds")

Case 1: 12:30:15, Wednesday - 13:41:07, Thursday = 90,652 seconds
Case 2: 12:53:15, Monday - 00:59:25, Thursday = 216,370 seconds
Case 3: 16:06:09, Sunday - 11:11:11, Tuesday = 155,102 seconds
Case 4: 08:00:00, Friday - 17:00:00 = 32,400 seconds
Case 5: 08:00:00 - 17:00:00, Friday = 378,000 seconds
Case 6: 08:00:00, Friday - 17:00:00 = 32,400 seconds
Case 7: 12:30:15 - 13:41:07 = 4,252 seconds
Case 8: 12:53:15 - 00:59:25 = -42,830 seconds
Case 9: 16:06:09 - 11:11:11 = -17,698 seconds

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [9]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [2]:
for i in 'Thanapong':
    print(i,end = '-> /\n' )

T-> /
h-> /
a-> /
n-> /
a-> /
p-> /
o-> /
n-> /
g-> /

In [3]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [4]:
range5_output = range(5) #rang ใช้ตอนอยากได้เลข เรียงตามสั่ง
print(list(range5_output))

[0, 1, 2, 3, 4]

In [5]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [10]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list(range(-3,20,4)) # ตัวสามเป็นบอกสเตป เพิ่มทีละ4 หน้าสุดเริ่ม ตัวสองจบหรือไม่เกินนี้

[-3, 1, 5, 9, 13, 17]

## วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [13]:
index = 0

In [14]:
for i in 'boonyarat':
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
  index += 1

สมาชิกคือ b เป็นลำดับที่ 0
สมาชิกคือ o เป็นลำดับที่ 1
สมาชิกคือ o เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ y เป็นลำดับที่ 4
สมาชิกคือ a เป็นลำดับที่ 5
สมาชิกคือ r เป็นลำดับที่ 6
สมาชิกคือ a เป็นลำดับที่ 7
สมาชิกคือ t เป็นลำดับที่ 8

In [17]:
for index,i in enumerate('boonyarat') : #enumerate คือฟังก์ชันที่ใช้ในการวนลูป พร้อมกับดึงทั้งลำดับ (index) และค่าของสมาชิก ออกมาพร้อมกัน
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')

สมาชิกคือ b เป็นลำดับที่ 0
สมาชิกคือ o เป็นลำดับที่ 1
สมาชิกคือ o เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ y เป็นลำดับที่ 4
สมาชิกคือ a เป็นลำดับที่ 5
สมาชิกคือ r เป็นลำดับที่ 6
สมาชิกคือ a เป็นลำดับที่ 7
สมาชิกคือ t เป็นลำดับที่ 8

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [18]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13): #(1-12)
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

Quiz 7 วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้
ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [26]:
# prompt: Quiz 7 วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้ ex:
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25

for i in range(1, 6):
  for j in range(1, i + 1):
    print(i * j, end=' ')
  print(' \n')

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [27]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [30]:
list_friends = ['ปอย','แพรว','มาย','ลาเต้','แฟน','ต๋อมแต๋ม']

In [31]:
print_feelings('อุ๋งอิ๋ง',list_friends)

อุ๋งอิ๋ง คิดถึง ปอย
อุ๋งอิ๋ง คิดถึง แพรว
อุ๋งอิ๋ง คิดถึง มาย
อุ๋งอิ๋ง คิดถึง ลาเต้
อุ๋งอิ๋ง คิดถึง แฟน
อุ๋งอิ๋ง คิดถึง ต๋อมแต๋ม

In [33]:
print_feelings('อุ๋งอิ๋ง', 'ต๋อมแต๋ม')

อุ๋งอิ๋ง คิดถึง ต
อุ๋งอิ๋ง คิดถึง ๋
อุ๋งอิ๋ง คิดถึง อ
อุ๋งอิ๋ง คิดถึง ม
อุ๋งอิ๋ง คิดถึง แ
อุ๋งอิ๋ง คิดถึง ต
อุ๋งอิ๋ง คิดถึง ๋
อุ๋งอิ๋ง คิดถึง ม

In [35]:
print_feelings('อุ๋งอิ๋ง',list_friends,feeling='ซัง')

อุ๋งอิ๋ง ซัง ปอย
อุ๋งอิ๋ง ซัง แพรว
อุ๋งอิ๋ง ซัง มาย
อุ๋งอิ๋ง ซัง ลาเต้
อุ๋งอิ๋ง ซัง แฟน
อุ๋งอิ๋ง ซัง ต๋อมแต๋ม

In [36]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก ปอย
เจมส์ รัก แพรว
เจมส์ รัก มาย
เจมส์ รัก ลาเต้
เจมส์ รัก แฟน
เจมส์ รัก ต๋อมแต๋ม

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [37]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [38]:
name_grade['ปนัดดา']

'A'

In [39]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [40]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [41]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [42]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

https://nbviewer.org/

##Hw3 เพิ่ม loop เข้าไปใน Quiz6 โดยวนลูป คำนวน วินาที ในโจทยืต่อไปนี้

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish